html,
body,
header,
.view {
  height: 100%;
}

.rgba-gradient {
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%));
    background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  }

#mybody{
    background-color: #B0E0E6;
}

.jumbotron{
    margin-top: 50px;
    padding: 0;
}

#resultsModal {
    margin-top: 6%;
}

#survey {
    border-radius: 30px;
}
#matchImage {
    width: 100%;
    max-width: 300px;
}
#gradient {
    background: #9ce3f0;
    background: linear-gradient(to right, #fcfbf8, #a8f3e3 85%, #79bef3);
    width: 100%;
    height: auto;
    margin:0 auto;
  }