html,
body,
header,
.view {
  height: 100%;
}

.rgba-gradient {
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%));
    background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  }

#mybody{
    background-color: #B0E0E6;
}

.jumbotron{
    margin-top: 50px;
    padding: 0;
}

/* .jumbotron {
    background-color: #fbd1e2 !important;
    color: white;
    opacity: .75;
    margin-top: 20px;
}

#submit {
    background: firebrick;
}

#jumbo_h2 {
    color: white;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
} */
#survey {
    border-radius: 30px;
}